.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.kingdom-main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

.kingdom-content-container div {
  display: flex;
  flex-direction: column;
}

.resources-container span {
  padding-right: 15px;
}
.kingdom-activity-content {
  display: flex;
  flex-direction: column;
}
