name: Build and Push to ECR

on:
  push:
    tags:
      - "v*"

env:
  AWS_REGION: eu-north-1
  ECR_BROWSER_REGISTRY: knightsofdarkness-frontend
  ECR_GAME_REGISTRY: knightsofdarkness-game-server
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lmerynda/knightsofdarkness-dev:latest
      credentials:
        username: lmerynda
        password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build with Gradle
        run: ./gradlew build -Pversion=${{ github.ref_name }}
        working-directory: backend

      - name: Build frontend with npm
        run: npm install && npm run build
        working-directory: browser

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push game image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.ref_name }}
        run: |
          cd backend
          docker build -t $ECR_REGISTRY/$ECR_GAME_REGISTRY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_GAME_REGISTRY:$IMAGE_TAG

      - name: Build, tag, and push frontend browser image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.ref_name }}
        run: |
          cd browser
          docker build -t $ECR_REGISTRY/$ECR_BROWSER_REGISTRY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_BROWSER_REGISTRY:$IMAGE_TAG
